.avatar{
    border-radius: 50%;
    margin-right: 20px;

}
.avatar{

}
.PostText{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    margin-top: 20px;
}
.name{
    font-size: 22px;
    color: brown;
    margin-bottom: 20px;
}
.like{
    width: 40px;
    height: 40px;
}
.numberLike{
    margin-left: 10px;
    font-size: 24px;
    color: rgb(50, 50, 172);
    font-weight: 900;
}
.Post{
    
}
.likeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}