.messageName{
    font-size: 28px;
    color: brown;
    margin-right: 40px;
    width: 25%;
    text-decoration:none;
}
.message {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    

}
.messageText{
    font-size: 23px;
    color: black;
    background-color: brown ;
    padding: 20px 50px;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 70%;
}
